body {
    font-family: 'Lucida Sans Regular';
    /* caret-color: transparent; */
    margin: 0;
    min-width: 800px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(16, 57, 147);
}

.main-container {
    height: 100vh;
}

aside {
    font-size: 1.2em;
    padding-left: 1.2em;
    background-color: rgb(240, 240, 240);
    border-right: #8a8a8a solid 1px;
}

/* Main Part */
main {
    background-color: rgb(255, 255, 255);
}

.navigator {
    color: #1e1e1e;
}

.buoy:hover{
    color: #0076dd;
    cursor: pointer;
}

.buoy:active {
    color: #0076ddbc;
}